---
// Bron -> https://api.nasa.gov/
// MARK: Server Side JS
import "../styles/style.css";

const apiKey = import.meta.env.NASA_API_KEY;

const url = new URL(Astro.request.url);
const weekParam = Astro.url.searchParams.get("week");
const weekOffset = parseInt(weekParam || "0");
const vandaag = new Date();
vandaag.setHours(0, 0, 0, 0);

const startDatum = new Date(vandaag);
startDatum.setDate(vandaag.getDate() + weekOffset * 7);

const eindDatum = new Date(startDatum);
eindDatum.setDate(startDatum.getDate() + 7);

// Gevraagt aan gemini waarom hij soms de dagen niet correct laadt
// Antwoord: In jouw code gebruik je nu.toISOString().split("T")[0]. Het probleem is dat toISOString() altijd de tijd in UTC (Greenwich tijd) pakt. Als je dit 's avonds laat uitvoert, kan het zijn dat het in UTC al "morgen" is, waardoor je datums net niet lekker aansluiten bij de weekOffset.
const toISODate = (date: Date) => date.toLocaleDateString("en-CA");

const startStr = toISODate(startDatum);
const eindStr = toISODate(eindDatum);

// Aan gemini gevraagd waarom alleObjectenVanDeMaand een error geeft: hij doet het maar het geeft een error dat het niet assignable is als never?
// Gemini zei: Dat is een heel bekend en irritant dingetje in TypeScript en Astro! De reden dat je een rood kringeltje of een error krijgt (terwijl de code in je browser stiekem wel gewoon werkt), heeft te maken met type-inferentie.
// Oplossing: Door er as any[] achter te zetten, houdt TypeScript direct zijn mond en verdwijnt de error.
let alleObjectenVanDeMaand = [] as any[];

const response = await fetch(
	`https://api.nasa.gov/neo/rest/v1/feed?start_date=${startStr}&end_date=${eindStr}&api_key=${apiKey}`,
);

if (!response.ok) {
	console.error("NASA API Error:", response.status);
} else {
	const data = await response.json();

	if (data.near_earth_objects) {
		for (const datum in data.near_earth_objects) {
			const objectenOpDezeDag = data.near_earth_objects[datum];

			const gefilterdeObjecten = objectenOpDezeDag.filter((obj: any) => {
				return obj.close_approach_data.some((approach: any) => {
					const afstand = parseFloat(
						approach.miss_distance.kilometers,
					);
					return (
						approach.orbiting_body === "Earth" && afstand < 15500000
					);
				});
			});

			const objectenMetDatum = gefilterdeObjecten.map((obj: any) => ({
				...obj,
				naderingsDatum: datum,
			}));

			alleObjectenVanDeMaand = [
				...alleObjectenVanDeMaand,
				...objectenMetDatum,
			];
		}
	}
}

alleObjectenVanDeMaand.sort((a, b) =>
	a.naderingsDatum.localeCompare(b.naderingsDatum),
);

function getDistanceColor(afstand: number): string {
	switch (true) {
		case afstand < 20000:
			return "240, 34, 34, 0.251";
		case afstand < 2000000:
			return "240, 34, 34";
		case afstand < 4000000:
			return "165, 211, 129";
		case afstand < 6000000:
			return "129, 211, 182";
		case afstand < 8000000:
			return "129, 143, 211";
		default:
			return "75, 222, 238";
	}
}

// Intl van Jad gekregen als tip om de afstand mooi te formatteren
const formatter = new Intl.NumberFormat("de-DE", {
	style: "unit",
	unit: "kilometer",
	unitDisplay: "short",
	maximumFractionDigits: 0,
});

alleObjectenVanDeMaand.sort((a, b) =>
	a.naderingsDatum.localeCompare(b.naderingsDatum),
);
---

<!-- MARK: HTML -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./images/Star-dot.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NEO's Radar</title>
	</head>
	<body>
		<div id="intro-container">
			<h1>NEO's Radar</h1>
			<div id="intro-loader"></div>
			<img src="./images/HT_Star.png" alt="Asteroid Icon" id="intro-asteroid" />
			<p>Copyright © {new Date().getFullYear()} Diego Ramon. All rights reserved.</p>
		</div>
		<div id="title-container">
			<h1>NASA Data - NEO (Nearby Earth Objects)</h1>
			<!-- Datum toegevoegd op basis van feedback Jacco -->
			<p>{startStr} / {eindStr}</p>	
		</div>


		<canvas id="distanceCircles"></canvas>
		<div id="earth-container">
			<div id="radar-line"></div>
			<div class="sattelite-container">
				<span class="tooltiptext">Satelliet - 18.000 km</span>
				<img class="sattelite" src="./images/Satellite_Image.png" />
			</div>
			<div class="sattelite-container">
				<span class="tooltiptext"
					>James Webb Telescope - 1.500.000 km</span
				>
				<img
					class="sattelite"
					src="./images/James_Webb_Telescope.png"
				/>
			</div>
			<div class="sattelite-container">
				<span class="tooltiptext">Maan - 384.400 km</span>
				<img class="sattelite" src="./images/Moon.png" />
			</div>
		</div>
		<div id="control-panel">
			<button type="button" id="prev-week" class="ui-button"
				>- Week</button
			>
			<div id="week-display">
				{
					weekOffset === 0
						? "Huidige Week"
						: `Start Datum: ${weekOffset}`
				}
			</div>
			<button type="button" id="next-week" class="ui-button"
				>+ Week</button
			>
			<button type="button" id="center-btn" class="ui-button"
				>Center Earth</button
			>
			<div id="mini-radar">
				<div id="radar-sweep"></div>
				<div id="radar-dots-container"></div>
				<div id="viewport-indicator"></div>
			</div>
		</div>
		{
			alleObjectenVanDeMaand.length > 0 ? (
				<div class="asteroid-container" id="card-layer">
					{alleObjectenVanDeMaand.map((astroide, index) => {
						const afstand = parseFloat(
							astroide.close_approach_data[0].miss_distance
								.kilometers,
						);
						const rgbKleur = getDistanceColor(afstand);

						return (
							<div class="asteroid-card" data-distance={afstand}>
								<button
									type="button"
									class="open-btn"
									popovertarget={`popover-${astroide.id}`}
								>
									<span class="tooltiptext">
										Naam: {astroide.name}
									</span>
									<img
										src={astroide.is_potentially_hazardous_asteroid 
											? "./images/HT_Star_Danger.png"
											: "./images/HT_Star.png"
										}
										alt="Asteroid"
										style={`--distance-color: ${rgbKleur};`}
									/>
								</button>

								<dialog
									id={`popover-${astroide.id}`}
									popover
									style={`--distance-color: ${rgbKleur};`}
								>
									<img
										src={astroide.is_potentially_hazardous_asteroid 
											? "./images/HT_Star_Danger.png"
											: "./images/HT_Star.png"
										}
										alt="Asteroid Detail"
									/>
									<div class="text">
										<h2>Naam: {astroide.name}</h2>

										<div
											class="background-line"
											style="--line-index: 0;"
										/>
										<div
											class="background-line"
											style="--line-index: 1;"
										/>
										<div
											class="background-line"
											style="--line-index: 2;"
										/>

										<div id="value-container">
											<h2>Datum</h2>
											<p>
												{
													astroide
														.close_approach_data[0]
														.close_approach_date_full
												}
											</p>
										</div>

										<div id="value-container">
											<h2>Breedte (Geschat):</h2>
											<p>
												Minimaal{" "}
												{Math.round(
													astroide.estimated_diameter
														.meters
														.estimated_diameter_min,
												)}{" "}
												meter
											</p>
											<p>
												Maximaal{" "}
												{Math.round(
													astroide.estimated_diameter
														.meters
														.estimated_diameter_max,
												)}{" "}
												meter
											</p>
										</div>

										<div id="value-container">
											<h2>Snelheid:</h2>
											<p>
												{formatter.format(
													Math.round(
														astroide
															.close_approach_data[0]
															.relative_velocity
															.kilometers_per_hour,
													),
												)}
												/u
											</p>
										</div>

										<div id="value-container">
											<h2>Potentieel gevaarlijk:</h2>
											<p>
												{astroide.is_potentially_hazardous_asteroid
													? "Ja" 
													: "Nee"}
											</p>
										</div>

										<div id="value-container">
											<h2>Afstand:</h2>
											<p>
												{formatter.format(
													Math.round(
														astroide
															.close_approach_data[0]
															.miss_distance
															.kilometers,
													),
												)}
											</p>
										</div>
									</div>
									<button
										type="button"
										class="close-btn"
										popovertarget={`popover-${astroide.id}`}
									>
										Sluiten
									</button>
								</dialog>
							</div>
						);
					})}
				</div>
			) : (
				<p>Geen NEO's in de buurt deze week!</p>
			)
		}

		<div id="loading-overlay" style="display: none;">
			<div class="spinner-container">
				<div id="moon-loading"></div>
			</div>
			<p>Data ophalen bij NASA...</p>
		</div>

		{/* MARK: Client side JS */}
		<script src="/src/js/stars.js"></script>
		<script src="/src/js/navigation.js"></script>
		<script src="/src/js/nebula.js"></script>
		<script
			is:inline
			set:html={`window.asteroidData = ${JSON.stringify(alleObjectenVanDeMaand)};`}
		/>
		<script>
			const canvas = document.getElementById(
				"distanceCircles",
			) as HTMLCanvasElement;
			const canvascontext = canvas?.getContext("2d");

			const configuration = {
				Sleep_Grens: 1000,
				circle: [
					{ r: 135, color: "#F0222250", afstand: "100.000", km: 0 },
					{
						r: 220,
						color: "#ffffff40",
						afstand: "384.400",
						km: 384400,
					},
					{
						r: 400,
						color: "#F02222",
						afstand: "2.000.000",
						km: 2000000,
					},
					{
						r: 600,
						color: "#A5D381",
						afstand: "4.000.000",
						km: 4000000,
					},
					{
						r: 800,
						color: "#81D3B6",
						afstand: "6.000.000",
						km: 6000000,
					},
					{
						r: 1000,
						color: "#818FD3",
						afstand: "8.000.000",
						km: 8000000,
					},
					{
						r: 1200,
						color: "#4BDEEE",
						afstand: "10.000.000",
						km: 10000000,
					},
				],
			};

			const earthImg = new Image();
			earthImg.src = "./images/Earth.png";

			const centerBtn = document.getElementById("center-btn");

			let state = {
				offsetX: 0,
				offsetY: 0,
				isDragging: false,
				lastMouseX: 0,
				lastMouseY: 0,
				scale: 1,
			};

			centerBtn?.addEventListener("click", () => {
				function smoothCenter() {
					const speed = 0.1; 
					
					state.offsetX += (0 - state.offsetX) * speed;
					state.offsetY += (0 - state.offsetY) * speed;
					state.scale += (1 - state.scale) * speed;

					drawCircles();
					positionCards();
					updateRadarViewport();

					if (Math.abs(state.offsetX) < 0.1 && Math.abs(state.offsetY) < 0.1 && Math.abs(state.scale - 1) < 0.01) {
						state.offsetX = 0;
						state.offsetY = 0;
						state.scale = 1;
						
						drawCircles();
						positionCards();
						updateRadarViewport();
					} else {
						requestAnimationFrame(smoothCenter);
					}
				}

				// Start de animatie
				requestAnimationFrame(smoothCenter);
			});

			// MARK: Functions
			function drawCircles() {
				if (!canvas || !canvascontext) return;

				canvas.width = window.innerWidth;
				canvas.height = window.innerHeight;

				const middenX = canvas.width / 2 + state.offsetX;
				const middenY = canvas.height / 2 + state.offsetY;

				canvascontext.clearRect(0, 0, canvas.width, canvas.height);

				canvascontext.imageSmoothingEnabled = true;
				canvascontext.imageSmoothingQuality = "high";

				// Met behulp van Co-pilot ingekort, er was veel herhaling
				const drawCircleLabel = (
					x: number,
					y: number,
					r: number,
					color: string,
					text: string,
				) => {
					canvascontext.font = "20px NasaFont";
					canvascontext.fillStyle = color;
					canvascontext.textAlign = "center";
					canvascontext.save();
					canvascontext.translate(x - r, y);
					canvascontext.rotate(-Math.PI / 2);
					canvascontext.fillText(`${text} km`, 0, 40);
					canvascontext.restore();
				};

				configuration.circle.forEach((cirkel, index) => {
					canvascontext.beginPath();
					canvascontext.arc(middenX, middenY, cirkel.r, 0, 2 * Math.PI);

					if (index === 0) {
						canvascontext.fillStyle = configuration.circle[0].color;
						canvascontext.fill();
					}

					canvascontext.strokeStyle = cirkel.color;
					canvascontext.lineWidth = 1;
					canvascontext.setLineDash([5, 6]);
					canvascontext.stroke();

					drawCircleLabel(middenX, middenY, cirkel.r, cirkel.color, cirkel.afstand);
				});

				const earthSize = 200;
				if (earthImg.complete) {
					canvascontext.drawImage(
						earthImg,
						middenX - earthSize / 2,
						middenY - earthSize / 2,
						earthSize,
						earthSize,
					);
				} else {
					earthImg.onload = () => drawCircles();
				}
			}

			function positionCards() {
				const cards = document.querySelectorAll(".asteroid-card");
				const earth = document.getElementById("earth-container");
				const middenX = window.innerWidth / 2 + state.offsetX;
				const middenY = window.innerHeight / 2 + state.offsetY;

				if (earth) {
					earth.style.left = `${middenX}px`;
					earth.style.top = `${middenY}px`;
					earth.style.transform = `translate(-50%, -50%)`;
				}

				function getRadiusByDistance(afstand: number): number {
					for (let i = 0; i < configuration.circle.length - 1; i++) {
						const start = configuration.circle[i];
						const eind = configuration.circle[i + 1];
						if (afstand >= start.km && afstand <= eind.km) {
							const percentage =
								(afstand - start.km) / (eind.km - start.km);
							return start.r + percentage * (eind.r - start.r);
						}
					}
					return configuration.circle[configuration.circle.length - 1]
						.r;
				}

				cards.forEach((card, index) => {
					const htmlCard = card as HTMLElement;
					const afstand = parseFloat(
						htmlCard.dataset.distance || "0",
					);
					const straalInPixels = getRadiusByDistance(afstand);
					const hoek = index * 137.5 * (Math.PI / 180);
					const x = middenX + straalInPixels * Math.cos(hoek);
					const y = middenY + straalInPixels * Math.sin(hoek);
					const rotatie = hoek + Math.PI;

					htmlCard.style.left = `${x}px`;
					htmlCard.style.top = `${y}px`;
					htmlCard.style.setProperty(
						"--astro-rotatie",
						`${rotatie}rad`,
					);
					htmlCard.style.transform = `translate(-50%, -50%) rotate(var(--astro-rotatie))`;
				});
			}

			// Aan gemini gevraagd hoe ik de radar kan maken met de data die ik eerder fetch (alleen javascript)
			// Antwoord: Dit is zeker mogelijk! Een "mini-map" of radar is in feite een geschaalde kopie van je hoofdscherm. Omdat je de locaties van de NEO's (Near Earth Objects) al berekent voor je hoofdscherm, kunnen we diezelfde data gebruiken om kleine stipjes op een radar-element te tekenen. Je moet de posities van je echte asteroids "vertalen" naar de 150px van je radar. Als een asteroid op 1.000.000km staat en je radar bereik is 2.000.000km, dan komt het stipje op 50% van de straal.
			function updateRadar() {
				const container = document.getElementById(
					"radar-dots-container",
				);
				const data = (window as any).asteroidData;

				if (!container || !data) return;
				container.innerHTML = "";

				const radarRadius = 75;
				const maxDistance = 15000000;

				data.forEach((neo: any, index: number) => {
					const distance = parseFloat(
						neo.close_approach_data[0].miss_distance.kilometers,
					);
					const distanceScale =
						(distance / maxDistance) * radarRadius;
					const hoekGraden = (index * 137.5) % 360;
    				const hoekRad = hoekGraden * (Math.PI / 180);

					const x = Math.cos(hoekRad) * distanceScale + radarRadius;
					const y = Math.sin(hoekRad) * distanceScale + radarRadius;

					const dot = document.createElement("div");
					dot.classList.add("radar-dot");
					if(neo.is_potentially_hazardous_asteroid) {
						dot.classList.add("hazardous-dot");
					}
					dot.style.left = `${x}px`;
					dot.style.top = `${y}px`;

					const delay = (hoekGraden / 360) * 15;
    				dot.style.animationDelay = `${delay}s`;

					container.appendChild(dot);
				});
			}

			function updateRadarViewport() {
				const indicator = document.getElementById("viewport-indicator");
				const miniRadar = document.getElementById("mini-radar");
				if (!indicator || !miniRadar) return;

				const radarSize = miniRadar.offsetWidth;
				const mapGrens = configuration.Sleep_Grens * 2;
				const boxWidth = (window.innerWidth / mapGrens) * radarSize;
				const boxHeight = (window.innerHeight / mapGrens) * radarSize;
				const centerX = radarSize / 2;
				const centerY = radarSize / 2;

				const posX = centerX - (state.offsetX / mapGrens) * radarSize - (boxWidth / 2);
				const posY = centerY - (state.offsetY / mapGrens) * radarSize - (boxHeight / 2);

				indicator.style.width = `${boxWidth}px`;
				indicator.style.height = `${boxHeight}px`;
				indicator.style.left = `${posX}px`;
				indicator.style.top = `${posY}px`;
			}

			// MARK: Event listeners
			window.addEventListener("load", () => {
				drawCircles();
				positionCards();
				updateRadar();
				updateRadarViewport();
			});

			window.addEventListener("resize", () => {
				drawCircles();
				positionCards();
			});

			// Ik had moeite met het draggen op mobiel, dus heb wat hulp gevraagd aan Gemini
			// Antwoord: Dat klopt! Mobiele apparaten gebruiken geen mouse events, maar touch events. Omdat je op een telefoon vaak met één vinger (of meerdere) werkt, ziet de data er net even anders uit (je moet bijvoorbeeld kijken naar e.touches[0]). Een slimme manier om dit op te lossen zonder je code te verdubbelen, is door Pointer Events te gebruiken. Deze werken voor zowel de muis als touchscreens.
			window.addEventListener("pointermove", (e) => {
				if (!state.isDragging) return;
				const deltaX = e.clientX - state.lastMouseX;
				const deltaY = e.clientY - state.lastMouseY;

				state.offsetX = Math.min(
					Math.max(
						state.offsetX + deltaX,
						-configuration.Sleep_Grens,
					),
					configuration.Sleep_Grens,
				);
				state.offsetY = Math.min(
					Math.max(
						state.offsetY + deltaY,
						-configuration.Sleep_Grens,
					),
					configuration.Sleep_Grens,
				);

				state.lastMouseX = e.clientX;
				state.lastMouseY = e.clientY;

				drawCircles();
				positionCards();
				updateRadarViewport();
			});

			window.addEventListener("pointerdown", (e) => {
				if (
					(e.target as HTMLElement).closest("button") ||
					(e.target as HTMLElement).closest("dialog")
				)
					return;

				state.isDragging = true;
				state.lastMouseX = e.clientX;
				state.lastMouseY = e.clientY;

				const target = e.target as HTMLElement;
				target.setPointerCapture(e.pointerId);

				if ((e.target as HTMLElement).id === "distanceCircles") {
					(e.target as HTMLElement).setPointerCapture(e.pointerId);
				}
			});

			window.addEventListener("pointerup", (e) => {
				state.isDragging = false;
			});

			window.addEventListener("pointercancel", () => {
				state.isDragging = false;
			});
		</script>
		<div id="scroll-anchor"></div>
	</body>
</html>
